
  .myPost {
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: 'my-post';
  }
  .myPostInner {
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 'my-post-title''my-post-write';
    margin-left: 10px;
  
  }
  .myPostTitle {
    grid-area: 'my-post-title';
    display:flex;
  
  }
  .postTitle {
    font-size: 23px;
    font-weight: bold;
    align-self: center;
    
  
  }
  .myPostWrite {
    grid-area: 'my-post-write';
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
  }
  .myPostWrite textarea {
    width: 100%;
    height: 52%;
    font-size: 18px;
    letter-spacing: 1px;
    resize:none;
    border: 2px solid rgba(0, 136, 204, .8);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
  .myPostWrite textarea:focus {
    box-shadow: 9px 8px 15px 6px rgba(0, 136, 204, .3);
    outline: none;
  }
  .myPostWrite button {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 3px;
    width: 161px;
    height: 51px;
    margin-top: 10px;
    background-color: rgba(0, 136, 204, .8);
    color: #fff;
    border: 1px solid rgb(204, 120, 71);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
  .myPostWrite button:focus {
    outline: none;
  }
  .myPostWrite button:hover {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #000;
  }
  .myPostWrite button:active {
    color: rgb(204, 120, 71);
  }
  
  